<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DashboardUrl" value="D:\dev\tp-telemetry\self-aware\intentapp\2025-Nov-InnoFesDemo\Intent-Dashboard\index.html" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>